.navigation {
  background-color: #eee;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  gap: 10px;
  height: 100vh;
  padding: 20px;
}

.input-container {
  width: 50%;
  height: 80%;
}

.input {
  padding: 20px;
  width: 95%;
  background-color: #eee;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  border-radius: 10px;
}

.viewer {
  padding: 20px;
  width: 50%;
  height: 80%;
}